.traccSliderContainer {
  width: calc(100vw - 300px);
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  background-color: #ffffff93;
  padding: 0px 35px;
  border-radius: 30px;
  margin-top: 9px;
  backdrop-filter: blur(9px);
}